thumbs.db
*.backup*
*.bak*
*.wad.backup*
*.wad.bak*
*.tmp*
*.dbs
acs.err
Launcher Source/Project/bin/
Launcher Source/Project/obj/
Tools/Auto-Indentation Tool/Auto-Indentation Tool/bin/
Tools/Auto-Indentation Tool/Auto-Indentation Tool/obj/